.form-pop {
	border-radius: 0px !important;
	background-color:#D4D4D4 !important;
	
}

.label-pop {
	color:#ffff;
}

.red-asterisk {
	color:#9F4A51;
	font-family:bold;
}

.form-title {
	border:2px solid #2E82AA;
	padding:10px;
	text-align:center !important;
	color:#ffff;
	font-family:HelveticaNeuel;
	font-size:bold;
	font-size:15pt;
}

body
{
  	background-image: url("../img/phone.jpg");
	background-size: cover;
}



.btn-contact {
	color:white !important;
	border-width:0px !important;
	border-radius:0px !important;
	background-color:#018FD7;
	
}

.btn-contact:hover,.btn-contact:focus,.btn-contact:active {
	text-decoration:none !important;
    background-color:#057ab5 !important;
}

.font-white {
	color:white;
	text-align:center;
}

.titulo-formulario{
	font-family:Helvetica;
	font-size:10pt;
}

.contact-social-cotizar {
    padding-right:20px;   
    background-color: #018FD7;
    filter: alpha(opacity=60); /* For IE8 and earlier */
	opacity: 0.3;
    text-align:center;
}

.info-text {
	color:#ffff;
	text-align:center;
	font-family: Helvetica;
	letter-spacing: 2px;
}