@font-face {
	font-family:"HelveticaNeuel";
	src: url("../fonts/HelveticaNeueL.otf");
	src: local("0"),
		 url("../fonts/HelveticaNeueL.ttf"),
		 url("../fonts/HelveticaNeueL.eot"),
		 url("../fonts/HelveticaNeueL.woff");
}

@font-face {
	font-family:"HelveticaRounded";
	src: url("../fonts/HelveticaRounded.otf");
	src: local("0"),
		 url("../fonts/HelveticaRounded.ttf"),
		 url("../fonts/HelveticaRounded.eot"),
		 url("../fonts/HelveticaRounded.woff");
}

@font-face {
    font-family:"HelveticaLight";
    src: url("../fonts/HelveticaLTStd-Light.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Light.ttf"),
         url("../fonts/HelveticaLTStd-Light.eot"),
         url("../fonts/HelveticaLTStd-Light.woff");
}

@font-face {
    font-family:"HelveticaBold";
    src: url("../fonts/HelveticaLTStd-Bold.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Bold.ttf"),
         url("../fonts/HelveticaLTStd-Bold.eot"),
         url("../fonts/HelveticaLTStd-Bold.woff");
}

@font-face {
    font-family:"Helvetica";
    src: url("../fonts/HelveticaLTStd-Roman.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Roman.ttf"),
         url("../fonts/HelveticaLTStd-Roman.eot"),
         url("../fonts/HelveticaLTStd-Roman.woff");
}



html{
    margin:0 !important;
    padding:0 !important;
}

body
{
  margin:0 !important;
  font-family:HelveticaRounded !important;
  padding: 0 !important;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.center-header{
	margin-left:auto !important; 
	margin-right:auto !important;
	
	
}

.container-fluid{
	padding-right:0px !important;
	padding-left: 0px !important;
}

.transparente{
	background-color:transparent !important;
}

.transparente a {
 color: white !important;	
 font-weight:bold !important;

}

.img-logo {
	width:201px !important;
	height:105px;
}


.black-drop {
	background-color:#707070;
}


.blue-section {
	background-color:#018FD7;
	color:white;
		
}

.blue-title{
	font-size:22pt;
	font-weight:bold;

}

.blue-text{
	font-size:13pt;
	font-weight:bold;
}

.blue-box{
	border:1px solid white;
	font-size:22pt;
	text-align:center;
}

#slogan {
	border:1px solid white;
	width:auto !important;
	padding:auto !important;
	margin:auto !important;
	font-size:50pt !important;
    display:inline;
    border:3px solid #ffff;
    padding:10px;
}


.contact-me{
	background-color:#3EB18A !important;
}

.we-do{
	background-color:#018FD7 !important;
}

.we-do,.contact-me {
	color:white !important;
	border-width:0px !important;
	border-radius:0px !important;
}

.we-do:hover,.we-do:focus,.we-do:active {
	text-decoration:none !important;
    background-color:#057ab5 !important;
}

.contact-me:hover,.contact-me:focus,.contact-me:active {
	background-color:#349170 !important;
	text-decoration:none !important;
}



.minions-box {
    font-weight: bold;
	font-size:22pt;
	border:3px solid #018EDE;
	padding:40px;
    margin: 5px;
    background-color: #ffffff;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    color:#018EDE;
}


div.minions-prebox {
	border:1px solid transparent;
	padding:30px;
	background-color:#F9F9FB;
	margin-top:22%;
	margin-right:auto;
	margin-left:auto;
    background-color: #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}


@media (max-width: 575.98px) {
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-576.jpg");
    }

}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-768.jpg");
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-992.jpg");
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1200.jpg");
    }

}


@media (min-width: 1200px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
    }


}
    


.what-we-do {
	background-color:gray;
	position:absolute;
	background-image: url("../img/we-do.jpg");
	background-repeat: repeat;
	
}

.we-do-empresarial-bba {
    background-image: url("../img/Clientes/ListadoVideos/BBA.jpg");
}

.we-do-empresarial-consulmed{
    background-image: url("../img/Clientes/ListadoVideos/consulmed.jpg");
}

.we-do-empresarial-kessel{
    background-image: url("../img/Clientes/ListadoVideos/kessel.jpg");
}

.what-we-do-box {
	color:#676767;
	background-color:white;
	font-size:22pt;
	padding:20pt;
	margin-right:auto;
	margin-left:auto;
}

.what-we-do-3 {
	color: #fff;
    padding: 50px 30px;
    text-align: center;
    
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: all 0.2s ease;
}

.what-we-do-mkt{
    background-image: url("../img/Slider/Home/WhatWeDo/mkt.jpg");
}

.what-we-do-contenidos{
    background-image: url("../img/Slider/Home/WhatWeDo/contenido.jpg");
}

.what-we-do-carteleria{
    background-image: url("../img/Slider/Home/WhatWeDo/carteleria.jpg");
}


.what-we-do a {
	text-decoration: none;
}

.what-we-do-3:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    background: rgba(0, 0, 0, 0.3);
}

.what-we-do-3:hover:before {
    background: rgba(0, 0, 0, 0.6);
}

.what-we-do-4 {
    position: relative;
    z-index: 10;
    color: #fff;
}


.what-we-do-5 h3 {
    color: #fff;
    font-weight: bold;
    margin: 0 0 15px;
    font-size: 22px;
}

.what-we-do-5 span {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 15px;
    display: block;
    opacity: .8;
}	

.what-we-do-6 {
    line-height: 1.5;
}

.what-we-do-btn {
    text-align: center;
}

.what-we-do-btn {
    margin: 25px 0 0;
}

.what-we-do-btn-2 {
    white-space: nowrap;
    line-height: 1.6;
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    text-decoration: none !important;
    white-space: nowrap;
    outline: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
    border: 1px solid #444444;
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.what-we-do-btn {
    text-align: center;
}
.what-we-do-btn-2 span {
    display: block;
}

.what-we-do-btn-2:hover,
.what-we-do-btn-2:focus {
    text-decoration: none;
    outline: none;
    color: #0bb4aa;
    border-color: #0bb4aa;
    background: rgba(11, 180, 170, 0.05);
}


.what-we-do-btn-2 {
    color: #fff;
    border-color: #fff;
}

.what-we-do-btn-2:hover,
.what-we-do-btn-2:focus {
    color: #0bb4aa;
    border-color: #0bb4aa;
    background: rgba(11, 180, 170, 0.05);
}

.what-we-do-btn-2: {
    color: #444;
    border-color: #444;
}

.what-we-do-btn-3 {
    color: #fff;
    border-color: #fff;
}

.what-we-do-btn-3:hover,
.what-we-do-btn-3:focus {
    background: #fff;
    border-color: #fff;
    color: #121212;
}


.what-we-do-btn-3 {
    color: #fff;
    border-color: #fff;
    background: none;
}


.what-we-do-btn-3:hover,
.what-we-do-btn-3:focus {
    background: #fff;
    border-color: #fff;
    color: #121212;
}

.what-we-do-3 {
    margin-bottom: 20px;
}

.contenidos {
	height:450px;
	background-color:#EAF9FF;
    background-repeat: repeat;
    background-position: center center;
	background-image: url("../img/fondo-smile.jpg");
}

.content-block {
	background-color:#018FD7;
	color:#FFFFFF;
	margin-left:auto !important;
	margin-right:auto !important;


}

.create-content {
	font-size:22pt;
	color:#9C9C9C;
	text-align:right;
	background-color:#FFFFFF;
    padding:15px;
}



.fw-divider-space {
    clear: both;
    width: 100%;
}

.logo-ten {
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
}

.btn-ten {
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
}

.footer-custom {
	height:560px;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	color: #fff;
	font-size:16pt;

}

.foot-col {
	border:2px solid #fff;
	margin-left:auto !important;
	margin-right:auto !important;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:100px;
	padding-right:100px;
	font-size:22pt;
}

.footer-row {
	margin-top:14%;
}

.vp-video{
    width:100% !important;
}

.navscroll {
    transition:background-color 500ms, color 500ms;
}

.azul {
    background-color:blue !important;
    color:white;
}

.right {
	text-align:right !important;
}

.map-cover {
	background-image: url("../img/map.png");
	background-size:  cover;
	background-repeat: no-repeat;
	
}

.divider-space {
	clear:both;
	width:100%;
}

.fw_theme_bg_color_1 {
    color: #fff;
}

.fw_theme_bg_color_1 a {
    color: #fff;
    text-decoration: underline;
}

.fw_theme_bg_color_1 a:hover {
    text-decoration: none;
}

.fw_theme_bg_color_1 h1,
.fw_theme_bg_color_1 h2,
.fw_theme_bg_color_1 h3,
.fw_theme_bg_color_1 h4,
.fw_theme_bg_color_1 h5,
.fw_theme_bg_color_1 h6 { color: #fff; }


.fw_theme_bg_color_1 input[type=submit] {
    border: 1px solid #444;
    color: #fff;
    background: none;
}

.fw_theme_bg_color_1 input[type=submit]:hover {
    border: 1px solid #0bb4aa;
    color: #0bb4aa;
    background: rgba(11, 180, 170, 0.05);
}

.fw_theme_bg_color_1 h2.fw-special-title {
    color: #fff;
}

.fw_theme_bg_color_1 .wrap-forms label {
    color: #fff;
}

.fw_theme_bg_color_1 .wrap-forms input,
.fw_theme_bg_color_1 .wrap-forms textarea {
    background: #333;
    color: #fff;
    border: none;
}

.fw_theme_bg_color_1 .wrap-forms select {
    border: none;
    border-radius: 0;
    color: #222;
}

.fw-page-builder-content .fw_theme_bg_color_1 .feature-posts-list h3 a {
    text-decoration: none;
    color: #fff;
}

.fw-page-builder-content .fw_theme_bg_color_1 .feature-posts-list h3 a:hover {
    color: #0bb4aa;
}

.fw-page-builder-content .fw_theme_bg_color_1 .fw-team .fw-team-name h3 {
    color: #fff;
}

.fw_theme_bg_color_1 .btn {
    text-decoration: none;
}

.widgetized-section .portfolio-showcase,
.widgetized-section .wpzoom-portfolio-scroller {
    max-width: 100%;
    padding: 0;
}

.portfolio-showcase .portfolio-grid:before,
.portfolio-showcase .portfolio-grid:after,
.portfolio-archive .portfolio-grid:before,
.portfolio-archive .portfolio-grid:after {
    content: " ";
    display: table;
}

.portfolio-showcase .portfolio-grid:after,
.portfolio-archive .portfolio-grid:after {
    clear: both
}

.portfolio-showcase .portfolio_item,
.portfolio-archive .portfolio_item {
    width: 20%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.portfolio-showcase .portfolio_item:before,
.portfolio-showcase .portfolio_item:after,
.portfolio-archive .portfolio_item:before,
.portfolio-archive .portfolio_item:after {
    content: " ";
    display: table;
}

.portfolio-showcase .portfolio_item:after,
.portfolio-archive .portfolio_item:after {
    clear: both
}

.portfolio-showcase .portfolio_item img,
.portfolio-archive .portfolio_item img {
    width: 100%;
    height: auto;
    -webkit-transition: 0.25s ease-in-out all;
    -o-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
}

.portfolio-showcase .portfolio_item:hover img,
.portfolio-archive .portfolio_item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 10;
}

.portfolio-showcase .portfolio_item .more_link,
.portfolio-archive .portfolio_item .more_link {
    display: none
}


.portfolio-grid {
    font-size: 0;
}


.widgetized-section .portfolio-grid {
    background: #1a1a1a;
}

.portfolio_item:hover .entry-thumbnail-popover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}



.portfolio_item.no-thumbnail .entry-thumbnail-popover {
    opacity: 1
}

.portfolio_item:hover .entry-thumbnail-popover-content,
.portfolio_item.no-thumbnail .entry-thumbnail-popover-content {
    opacity: 1;
    bottom: 0;
}

.portfolio-showcase .portfolio_item .more_link,
.portfolio-archive .portfolio_item .more_link {
    display: none
}


.recent-posts .hentry {
    padding-bottom: 10px;
    margin: 50px 0 0;
    position: relative;
}

.recent-posts .hentry:after {
    display: block;
    content: " ";
    width: 130px;
    height: 1px;
    background: #E6E6E6;
    margin: 50px auto 0;
}

.entry-thumbnail-popover {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    opacity: 0;
    z-index: 20;
    -webkit-transition: 0.15s ease-in-out all;
    -o-transition: 0.15s ease-in-out all;
    transition: 0.15s ease-in-out all;
}

.col_no_4 .entry-thumbnail-popover-content p,
.col_no_5 .entry-thumbnail-popover-content p,
.col_no_5 .entry-thumbnail-popover-content .btn {
    display: none;
}



.entry-thumbnail-popover-content {
    color: white;
    position: absolute;
    bottom: 20%;
    width: 100%;
    padding: 8%;
    opacity: 0;
    -webkit-transition: 0.3s ease-out opacity;
    -o-transition: 0.3s ease-out opacity;
    transition: 0.3s ease-out opacity;
}

.entry-thumbnail-popover-content.popover-content--animated {
    -webkit-transition: 0.3s ease-out opacity, 0.3s ease-out bottom;
    -o-transition: 0.3s ease-out opacity, 0.3s ease-out bottom;
    transition: 0.3s ease-out opacity, 0.3s ease-out bottom;
}

.entry-thumbnail-popover-content h3 {
    margin: 0 0 15px;
    color: white;
    font-weight: 600;
    line-height: 1.4;
    font-size: 26px;
    transition: all .2s ease;
}

.entry-thumbnail-popover-content h3:hover {
    color: #0bb4aa;
}

.entry-thumbnail-popover-content span {
    color: #fff;
    margin-top: 15px;
}

.entry-thumbnail-popover-content span:hover {
    color: #0bb4aa;
    text-decoration: none;
}

.entry-thumbnail-popover-content p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    opacity: .8;
}

.entry-thumbnail-popover-content .btn {
    color: #fff;
    border-color: #fff;
}

.entry-thumbnail-popover-content .btn:hover {
    border-color: #0bb4aa
}

.some-works {
	text-align:center;
	font-size:20pt;
	color:black;
}

.btn-some-works {
	color:#5f5f5f !important;
	background-color:#ffff;
	border:1px solid #5f5f5f;
	border-radius:0px !important;
}


.btn-some-works:hover,.btn-some-works:focus,.btn-some-works:active {
	background-color:#5f5f5f !important;
	color:#ffff !important;
	border: 1px solid #ffff;
}

.footer-lamp
{
    background-image: url("../img/footer-lamp.jpg");
    background-size: cover;
    color:#ffff;
}

.title-cliente
{
    border:2px solid #E9C515;
    padding:15px;
}

.back-stones
{
	background-color:#C1C0C5;
}

.stones-strategy
{
	color:#ffff;
}

.stones-green
{
	background-color:#3DAD87;
	
}

.comunicacion-360
{
	border: 3px solid #525252;
	color:#525252;
	text-align:center;
}

.candy-back
{
	background-image: url("../img/Fondos/candy-back.jpg");
    background-size: cover;
}

.candy-box
{
	margin-right:auto;
	margin-left:auto;
	display:block;
	height:auto;
	width:auto;
	color:#9CC18D;
	background-color:#ffff;
	border:3px solid #9CC18D;
}

.creamos{
    font-family:Helvetica;
    font-size:30pt;
    letter-spacing:10pt;

}

.countered {
    font-size:50pt;
    font-family:HelveticaBold;
    letter-spacing:10pt;
    line-height: 0.7 !important;
}

.contenidos-creamos-1{
    font-size:25pt;
    font-family: HelveticaNeuel;
    line-height: 1 !important;
    font-weight: bold;
}
.contenidos-creamos-2{
    font-size:25pt;
    font-family: HelveticaNeuel;
    line-height: 1.2 !important;
     font-weight: bold;
}

.algunos {
    font-family:HelveticaNeuel;
    color:#5f5f5f;
    font-size:40pt;
}


.trabajos {
    font-family:HelveticaNeuel;
    font-weight: bold;
    color:#5f5f5f;
    font-size:40pt;
}

.que {
    font-family:HelveticaNeuel;
    color:#5f5f5f;
    font-size:30pt;
}

.hacemos {
    font-family:HelveticaNeuel;
    color:#5f5f5f;
    font-weight: bold;
    font-size:30pt;
}

.que-hacemos{
    font-family:Helvetica;
    font-weight: bold;
    letter-spacing: 2px;
    font-size:14pt;
}


.nav-what-we-do:hover,
.nav-what-we-do:focus,
.nav-what-we-do:active {
    color:#96D2EA !important;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color:black !important;
}

    
#slogan-audiovisual{
    border:3px solid #ffff;
    display:inline-block;
    padding:20px;

}

.check-we-do {
    border:1px solid #A9A9A9;
    color:#C1C1C1;
    text-align:center;
    font-size:25pt;
}

.videos-genre {
    font-size:10pt;
    
}

