@font-face {
	font-family:"HelveticaNeuel";
	src: url("../fonts/HelveticaNeueL.otf");
	src: local("0"),
		 url("../fonts/HelveticaNeueL.ttf"),
		 url("../fonts/HelveticaNeueL.eot"),
		 url("../fonts/HelveticaNeueL.woff");
}

@font-face {
	font-family:"HelveticaRounded";
	src: url("../fonts/HelveticaRounded.otf");
	src: local("0"),
		 url("../fonts/HelveticaRounded.ttf"),
		 url("../fonts/HelveticaRounded.eot"),
		 url("../fonts/HelveticaRounded.woff");
}

body
{
  margin: 0;
  font-family:HelveticaRounded !important;
}

.container-fluid{
	padding-right:0px !important;
	padding-left: 0px !important;
}

.transparente{
	background-color:transparent !important;
}

.transparente a {
 color: white !important;	
 font-weight:bold !important;

}

.carrousel-logo {
	width: 252px;
}

.blue-section {
	background-color:#018FD7;
	color:white;
		
}

.blue-title{
	font-size:22pt;
	font-weight:bold;
}

.blue-text{
	font-size:13pt;
	font-weight:bold;
}

.blue-box{
	border:1px solid white;
	font-size:22pt;
	text-align:center;
}

.slogan {
	border:1px solid white;
	width:auto;
}

.contact-me{
	background-color:#3EB18A !important;
}

.we-do{
	background-color:#018FD7 !important;
}

.we-do,.contact-me {
	color:white !important;
	border-width:0px !important;
	border-radius:0px !important;
}

.we-do:hover,.we-do:focus,.we-do:active {
	text-decoration:none !important;
    background-color:#057ab5 !important;
}

.contact-me:hover,.contact-me:focus,.contact-me:active {
	background-color:#349170 !important;
	text-decoration:none !important;
}

.minions-cover{
	background-color:yellow;
	height:666px;
}

.minions-box{
	color:#018EDE;
	font-size:22pt;
	border:3px solid #018EDE;
	padding:40px;
	background-color:#F9F9FB;	
}

.minions-prebox {
	border:1px solid transparent;
	padding:30px;
	background-color:#F9F9FB;
	margin-top:22%;
	margin-right:auto;
	margin-left:auto;
}


.what-we-do {
	height:519px;
	background-color:gray;
	
}

.what-we-do-box {
	color:#676767;
	background-color:white;
	font-size:22pt;
	padding:20pt;
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
}

.what-we-do-3 {
	color: #fff;
    padding: 50px 30px;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    transition: all 0.2s ease;
	background-image: url("../img/IMG_9599.jpg");
}

.what-we-do a {
	text-decoration: none;
}

.what-we-do-3:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    background: rgba(0, 0, 0, 0.3);
}

.what-we-do-3:hover:before {
    background: rgba(0, 0, 0, 0.6);
}

.what-we-do-4 {
    position: relative;
    z-index: 10;
    color: #fff;
}


.what-we-do-5 h3 {
    color: #fff;
    font-weight: bold;
    margin: 0 0 15px;
    font-size: 26px;
}

.what-we-do-5 span {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    margin: 0 0 15px;
    display: block;
    opacity: .8;
}	

.what-we-do-6 {
    line-height: 1.5;
}

.what-we-do-btn {
    text-align: center;
}

.what-we-do-btn {
    margin: 25px 0 0;
}

.what-we-do-btn-2 {
    white-space: nowrap;
    line-height: 1.6;
    user-select: none;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: none;
    text-decoration: none !important;
    white-space: nowrap;
    outline: none;
    padding: 10px 30px;
    transition: all 0.3s ease;
    border: 1px solid #444444;
    color: #444444;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}


.what-we-do-btn {
    text-align: center;
}
.what-we-do-btn-2 span {
    display: block;
}

.what-we-do-btn-2:hover,
.what-we-do-btn-2:focus {
    text-decoration: none;
    outline: none;
    color: #0bb4aa;
    border-color: #0bb4aa;
    background: rgba(11, 180, 170, 0.05);
}

/* Section with Image as Background */
.what-we-do-btn-2 {
    color: #fff;
    border-color: #fff;
}

.what-we-do-btn-2:hover,
.what-we-do-btn-2:focus {
    color: #0bb4aa;
    border-color: #0bb4aa;
    background: rgba(11, 180, 170, 0.05);
}

.what-we-do-btn-2: {
    color: #444;
    border-color: #444;
}

.what-we-do-btn-3 {
    color: #fff;
    border-color: #fff;
}

.what-we-do-btn-3:hover,
.what-we-do-btn-3:focus {
    background: #fff;
    border-color: #fff;
    color: #121212;
}


.what-we-do-btn-3 {
    color: #fff;
    border-color: #fff;
    background: none;
}


.what-we-do-btn-3:hover,
.what-we-do-btn-3:focus {
    background: #fff;
    border-color: #fff;
    color: #121212;
}

.contenidos {
	height:450px;
	background-color:#EAF9FF;
}

.content-block {
	background-color:#018FD7;
	color:#FFFFFF;
	margin-left:auto !important;
	margin-right:auto !important;
	font-size:22pt;
}

.create-content {
	font-size:22pt;
	color:#9C9C9C;
	text-align:right;
}

.countered {
	font-size:25pt;
	font-weight:bold;
}

.contenidos-row {
	padding-top:15%;
}

.fw-divider-space {
    clear: both;
    width: 100%;
}

.logo-ten {
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	padding-top:12%;
}

.ten {
	height:266px;
	background-color:#fcfcdb;
}

.btn-ten {
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	padding-top:8%;
}

.footer-custom {
	background-color:#018FD7;
	height:560px;
	margin-left:auto !important;
	margin-right:auto !important;
	text-align:center;
	color: #fff;
	font-size:16pt;
}

.foot-col {
	border:2px solid #fff;
	margin-left:auto !important;
	margin-right:auto !important;
	padding:20px;
	font-size:22pt;
}

.footer-row {
	margin-top:14%;
}