.we-do-empresarial-bba {
    background-image: url("../img/clientes/ListadoVideos/BBA.jpg");
}

.we-do-empresarial-consulmed{
    background-image: url("../img/clientes/ListadoVideos/consulmed.jpg");
}

.we-do-empresarial-kessel{
    background-image: url("../img/clientes/ListadoVideos/kessel.jpg");
}

.we-do-empresarial-electrosistemas{
    background-image: url("../img/clientes/ListadoVideos/electrosistemas.jpg");
}

.we-do-empresarial-edelflex{
    background-image: url("../img/clientes/ListadoVideos/edelflex.jpg");
}
.we-do-empresarial-cromosol{
    background-image: url("../img/clientes/ListadoVideos/cromosol.jpg");
}
.we-do-empresarial-basani{
    background-image: url("../img/clientes/ListadoVideos/basani.jpg");
}
.we-do-empresarial-cid{
    background-image: url("../img/clientes/ListadoVideos/cid.jpg");
}
.we-do-empresarial-centralab{
    background-image: url("../img/clientes/ListadoVideos/centralab.jpg");
}
.we-do-empresarial-ima{
    background-image: url("../img/clientes/ListadoVideos/ima.jpg");
}
.we-do-empresarial-benozzi{
    background-image: url("../img/clientes/ListadoVideos/benozzi.jpg");
}
.we-do-empresarial-libus{
    background-image: url("../img/clientes/ListadoVideos/libus.jpg");
}
.we-do-empresarial-fitz-roy{
    background-image: url("../img/clientes/ListadoVideos/fitz-roy.jpg");
}

.we-do-empresarial-jenk{
    background-image: url("../img/clientes/ListadoVideos/jenk.jpg");
}
    
.we-do-empresarial-juego-cv{
    background-image: url("../img/clientes/ListadoVideos/juego-cv.jpg");
}
.we-do-empresarial-dic{
    background-image: url("../img/clientes/ListadoVideos/dic.jpg");
}
.we-do-empresarial-bosch{
    background-image: url("../img/clientes/ListadoVideos/bosch.jpg");
}
.we-do-empresarial-vw{
    background-image: url("../img/clientes/ListadoVideos/vw.jpg");
}
.we-do-empresarial-sit{
    background-image: url("../img/clientes/ListadoVideos/sit.jpg");
}
.we-do-empresarial-amap{
    background-image: url("../img/clientes/ListadoVideos/amap.jpg");
}
.we-do-empresarial-amia{
    background-image: url("../img/clientes/ListadoVideos/amia.jpg");
}

.we-do-empresarial-argenmetal{
    background-image: url("../img/clientes/ListadoVideos/argenmetal.jpg");
}

.we-do-empresarial-bvision{
    background-image: url("../img/clientes/ListadoVideos/bvision.jpg");
}

.we-do-empresarial-sanovo{
    background-image: url("../img/clientes/ListadoVideos/sanovo.jpg");
}

.we-do-empresarial-nazca{
    background-image: url("../img/clientes/ListadoVideos/nazca.jpg");
}

.we-do-empresarial-sie{
    background-image: url("../img/clientes/ListadoVideos/sie.jpg");
}

.we-do-empresarial-santa{
    background-image: url("../img/clientes/ListadoVideos/santa.jpg");
}

.we-do-empresarial-soporte{
    background-image: url("../img/clientes/ListadoVideos/soporte.jpg");
}

.we-do-empresarial-raal{
    background-image: url("../img/clientes/ListadoVideos/raal.jpg");
}

.we-do-empresarial-ados{
    background-image: url("../img/clientes/ListadoVideos/ados.jpg");
}
.we-do-empresarial-hanseatica-1{
    background-image: url("../img/clientes/ListadoVideos/hanseatica-1.jpg");
}
.we-do-empresarial-hanseatica-2{
    background-image: url("../img/clientes/ListadoVideos/hanseatica-2.jpg");
}

.we-do-empresarial-mirkus{
    background-image: url("../img/clientes/ListadoVideos/mirkus.jpg");
}
.we-do-empresarial-negozona{
    background-image: url("../img/clientes/ListadoVideos/negozona.jpg");
}
.we-do-empresarial-sis{
    background-image: url("../img/clientes/ListadoVideos/sis.jpg");
}
.we-do-empresarial-intramed{
    background-image: url("../img/clientes/ListadoVideos/intramed.jpg");
}
.we-do-empresarial-bba1{
    background-image: url("../img/clientes/ListadoVideos/bba1.jpg");
}
.we-do-empresarial-elecciones{
    background-image: url("../img/clientes/ListadoVideos/elecciones.jpg");
}
.we-do-empresarial-tpcg{
    background-image: url("../img/clientes/ListadoVideos/tpcg.jpg");
}
.we-do-empresarial-cic{
    background-image: url("../img/clientes/ListadoVideos/cic.jpg");
}
.we-do-empresarial-sie-1{
    background-image: url("../img/clientes/ListadoVideos/sie-1.jpg");
}
.we-do-empresarial-ilc{
    background-image: url("../img/clientes/ListadoVideos/ilc.jpg");
}
.we-do-empresarial-yook{
    background-image: url("../img/clientes/ListadoVideos/yook.jpg");
}
.we-do-empresarial-utn{
    background-image: url("../img/clientes/ListadoVideos/utn.jpg");
}
.we-do-empresarial-aerre{
    background-image: url("../img/clientes/ListadoVideos/aerre.jpg");
}

.we-do-empresarial-hanseatica{
    background-image: url("../img/clientes/ListadoVideos/hanseatica.jpg");
}

.we-do-empresarial-ldd{
    background-image: url("../img/clientes/ListadoVideos/ldd.jpg");
}

.we-do-empresarial-raal-1{
    background-image: url("../img/clientes/ListadoVideos/raal-1.jpg");
}

.we-do-empresarial-amap-1{
    background-image: url("../img/clientes/ListadoVideos/amap-1.jpg");
}

.we-do-empresarial-assap{
    background-image: url("../img/clientes/ListadoVideos/assap.jpg");
}

.we-do-empresarial-isae{
    background-image: url("../img/clientes/ListadoVideos/isae.jpg");
}

.we-do-empresarial-debmedia{
    background-image: url("../img/clientes/ListadoVideos/debmedia.jpg");
}
.we-do-empresarial-xpand{
    background-image: url("../img/clientes/ListadoVideos/xpand.jpg");
}

.we-do-empresarial-soporte-emp{
    background-image: url("../img/clientes/ListadoVideos/soporte-emp.jpg");
}

.we-do-empresarial-demasled{
    background-image: url("../img/clientes/ListadoVideos/demasled.jpg");
}

.we-do-empresarial-integrago{
    background-image: url("../img/clientes/ListadoVideos/integrago.jpg");
}

.we-do-empresarial-agroassay{
    background-image: url("../img/clientes/ListadoVideos/agroassay.jpg");
}

.we-do-empresarial-vendemos{
    background-image: url("../img/clientes/ListadoVideos/vendemos.jpg");
}

.we-do-empresarial-musux{
    background-image: url("../img/clientes/ListadoVideos/musux.jpg");
}

.we-do-empresarial-tecnipisos{
    background-image: url("../img/clientes/ListadoVideos/tecnipisos.jpg");
}

.we-do-empresarial-bba-2{
    background-image: url("../img/clientes/ListadoVideos/bba-2.jpg");
}

.we-do-empresarial-quimtia{
    background-image: url("../img/clientes/ListadoVideos/quimtia.jpg");
}

.we-do-empresarial-samsung{
    background-image: url("../img/clientes/ListadoVideos/samsung.jpg");
}

.we-do-empresarial-consulmed-historia{
    background-image: url("../img/clientes/ListadoVideos/consulmed-historia.jpg");
}

.we-do-empresarial-nestle{
    background-image: url("../img/clientes/ListadoVideos/nestle.jpg");
}

.we-do-empresarial-samsung-1{
    background-image: url("../img/clientes/ListadoVideos/samsung-1.jpg");
}

.we-do-empresarial-fitzroy{
    background-image: url("../img/clientes/ListadoVideos/fitzroy.jpg");
}

.we-do-empresarial-consulmed-1{
    background-image: url("../img/clientes/ListadoVideos/consulmed-1.jpg");
}

.we-do-empresarial-samsung-2{
    background-image: url("../img/clientes/ListadoVideos/samsung-2.jpg");
}

.we-do-empresarial-salon{
    background-image: url("../img/clientes/ListadoVideos/salon.jpg");
}

.we-do-empresarial-famiq{
    background-image: url("../img/clientes/ListadoVideos/famiq.jpg");
}

.we-do-empresarial-centralab-1{
    background-image: url("../img/clientes/ListadoVideos/centralab-1.jpg");
}

.we-do-empresarial-consulmed-2{
    background-image: url("../img/clientes/ListadoVideos/consulmed-2.jpg");
}

.we-do-empresarial-centralab-2{
    background-image: url("../img/clientes/ListadoVideos/centralab-2.jpg");
}

.we-do-empresarial-tribunal{
    background-image: url("../img/clientes/ListadoVideos/tribunal.jpg");
}

.we-do-empresarial-cv{
    background-image: url("../img/clientes/ListadoVideos/cv.jpg");
}

.we-do-empresarial-zaff{
    background-image: url("../img/clientes/ListadoVideos/zaff.jpg");
}

.we-do-empresarial-bosch-1{
    background-image: url("../img/clientes/ListadoVideos/bosch-1.jpg");
}
.we-do-empresarial-cv-1{
    background-image: url("../img/clientes/ListadoVideos/cv-1.jpg");
}
.we-do-empresarial-microsoft{
    background-image: url("../img/clientes/ListadoVideos/microsoft.jpg");
}
.we-do-empresarial-nextel{
    background-image: url("../img/clientes/ListadoVideos/nextel.jpg");
}
.we-do-empresarial-santillana{
    background-image: url("../img/clientes/ListadoVideos/santillana.jpg");
}
.we-do-empresarial-derecho{
    background-image: url("../img/clientes/ListadoVideos/derecho.jpg");
}

.we-do-empresarial-bachillerato{
    background-image: url("../img/clientes/ListadoVideos/bachillerato.jpg");
}

.we-do-empresarial-derecho-1{
    background-image: url("../img/clientes/ListadoVideos/derecho-1.jpg");
}

.we-do-empresarial-correo{
    background-image: url("../img/clientes/ListadoVideos/correo.jpg");
}

.we-do-empresarial-ficcion{
    background-image: url("../img/clientes/ListadoVideos/ficcion.jpg");
}

.we-do-empresarial-jenc-1{
    background-image: url("../img/clientes/ListadoVideos/jenc-1.jpg");
}

.we-do-empresarial-esab{
    background-image: url("../img/clientes/ListadoVideos/esab.jpg");
}

.we-do-empresarial-cablev{
    background-image: url("../img/clientes/ListadoVideos/cable.jpg");
}

.we-do-empresarial-sistran{
    background-image: url("../img/clientes/ListadoVideos/sistran.jpg");
}

.we-do-empresarial-ins-vot-elec {
    background-image: url("../img/clientes/ListadoVideos/ins-vot-elec.jpg");
}