@font-face {
	font-family:"HelveticaNeuel";
	src: url("../fonts/HelveticaNeueL.otf");
	src: local("0"),
		 url("../fonts/HelveticaNeueL.ttf"),
		 url("../fonts/HelveticaNeueL.eot"),
		 url("../fonts/HelveticaNeueL.woff");
}

@font-face {
	font-family:"HelveticaRounded";
	src: url("../fonts/HelveticaRounded.otf");
	src: local("0"),
		 url("../fonts/HelveticaRounded.ttf"),
		 url("../fonts/HelveticaRounded.eot"),
		 url("../fonts/HelveticaRounded.woff");
}

@font-face {
    font-family:"HelveticaLight";
    src: url("../fonts/HelveticaLTStd-Light.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Light.ttf"),
         url("../fonts/HelveticaLTStd-Light.eot"),
         url("../fonts/HelveticaLTStd-Light.woff");
}

@font-face {
    font-family:"HelveticaBold";
    src: url("../fonts/HelveticaLTStd-Bold.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Bold.ttf"),
         url("../fonts/HelveticaLTStd-Bold.eot"),
         url("../fonts/HelveticaLTStd-Bold.woff");
}

@font-face {
    font-family:"Helvetica";
    src: url("../fonts/HelveticaLTStd-Roman.otf");
    src: local("0"),
         url("../fonts/HelveticaLTStd-Roman.ttf"),
         url("../fonts/HelveticaLTStd-Roman.eot"),
         url("../fonts/HelveticaLTStd-Roman.woff");
}