
@media (max-width: 575.98px) {
    .minions-cover{
        height:0px;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .minions-cover{
        height:0px;
    }
    #scroll-to-content {
        left: 42%;
    }
    .green-rectangle {
        font-size:15pt;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .minions-cover{
        height:0px;
    }
    #scroll-to-content {
        left: 46.7%;
    }
    .green-rectangle {
        font-size:15pt;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1200.jpg");
        background-position:center;
    }
    #scroll-to-content {
        left: 47.2%;
    }
    .check-we-do {
        font-size:20pt;
    }

}


@media (min-width: 1200px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
        background-position:center;
    }


}

@media (max-width:870px) {
    #slogan{
        font-size:19pt !important;
        padding-bottom:10px;
    }
    #slogan-musux{
        font-size:19pt !important;
        padding-bottom:20px;
    }

}

@media (max-width:630px) {
    #slogan-musux{
        font-size:15pt !important;
        padding-bottom:20px;
    }

}

@media (max-width: 758px) {
    .inline-creativity{
        font-size:10pt !important;
        font-weight:bold;
    }

}

@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }
    .blue-text {
        font-size:10pt;
        padding-left:10px;
        padding-right:10px;
    }
    .blue-title {
        font-size:15pt;
    }
    .blue-sub {
        font-size:15pt;
    }
    .blue-box {
        font-size:15pt;
        padding-left:30px;
        padding-right:30px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
}


@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }

}


@media (max-width: 1690px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:22pt !important;
    }

}

@media (max-width: 1506px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:20pt !important;
    }

}

@media (max-width: 1380px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:18pt !important;
    }

}

@media (max-width: 1256px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:16pt !important;
    }
    .countered {
        line-height: 0.5 !important;
    }

    .ten-years {
            font-size:25pt;
    }
}

@media (max-width: 1131px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
    }
    .countered{
        font-size:40pt !important;
    }

}

@media (max-width: 1020px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
         line-height:1 !important;
    }
    .countered{
        font-size:30pt !important;
    }

}










