
@media (max-width: 575.98px) {
    .minions-cover{
        height:0px;
    }
    .map-cover{
        height:600px;
    }
    #slogan-audiovisual {
        font-size:15pt;
        border:2px solid white;
        padding-bottom:10px;
        padding-top:10px;
        padding-left:10px;
        padding-right:10px;
        margin-top:100px;
    }
    #cnt-ad {
        font-size:12pt !important;
    }

    .check-we-do {
        border:0px;
        font-size:20pt;
        margin-left:auto;
    }
    .video_intro {
        background-color:white !important;
    }
    #cnt-au{
        height:600px !important;
        background-position: center !important;
    }
    #QueHacemos {
        margin-top:0px;
    }
    .check-we-do-filter {
        padding:10px;
    }
    .title-cliente-p {
       padding-left:30px;
       padding-right:30px;
        border:0px;  
    }
    .trust {
        line-height:1;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .minions-cover{
        height:0px;
    }
    #scroll-to-content {
        left: 42%;
    }
    .green-rectangle {
        font-size:15pt;
    }
    .map-cover{
        height:550px;
    }
    #slogan-audiovisual {
        font-size:18pt;
    }
    #cnt-ad {
        font-size:14pt !important;
    }
    .check-we-do {
        border:0px;
        font-size:20pt;
        margin-left:auto;
    }
    .video_intro {
        background-color:white !important;
    }
    #cnt-au{
        height:600px !important;
        background-position: center;
    }
    #QueHacemos {
        margin-top:0px;
    }
    .check-we-do-filter {
        padding:10px;
    }
    .title-cliente-p {
       padding-left:40px;
       padding-right:40px;
       border:0px;  
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .minions-cover{
        height:0px;
    }
    #scroll-to-content {
        left: 46.7%;
    }
    .green-rectangle {
        font-size:15pt;
    }
    .map-cover{
        height:520px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
        background-position:center;
    }
    #scroll-to-content {
        left: 47.2%;
    }
    .check-we-do {
        font-size:20pt;
    }
    .map-cover {
        height:570px;
    }

}


@media (min-width: 1200px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
        background-position:center;
    }


}

@media (max-width:870px) {
    #slogan{
        font-size:19pt !important;
        padding-bottom:10px;
    }
    #slogan-musux{
        font-size:19pt !important;
        padding-bottom:20px;
    }

}

@media (max-width:630px) {
    #slogan-musux{
        font-size:15pt !important;
        padding-bottom:20px;
    }
    #slogan{
        border:0px;
        text-align: center;
        padding-top:0px;
        display:inline-block;
    }
    .blue-box{
        border:0px;
    }
    .blue-section {
        height:250px;
    }
    #blue-container {
        padding-top:35px;
    }
    .content-block {
        padding-top:0px;
    }
    .what-we-do-box .que { 
        font-size:20pt;
    }

    .what-we-do-box .hacemos { 
        font-size:20pt;
    }
    .some-works{
        line-height: 1.3;
    }
    .foot-col{
        padding-left:0;
        padding-right:0;
    }
    .foot{
        text-align-last:center;
    }
    .footer-custom {
        padding-top:60px;
    }
    .social-networks {
        padding-top:70px;
    }
    .map-cover {
        height:560px;
    }
    h1 #slogan {
        margin-top:0px;
    }
    #idea {
        display:inline !important;
        font-size:10pt;
    }
    .trans {
        letter-spacing: 1px !important;
        font-weight: lighter;
    }
}


@media (max-width: 758px) {
    .inline-creativity{
        font-size:10pt !important;
        font-weight:bold;
    }

}

@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }
    .blue-text {
        font-size:10pt;
        padding-left:10px;
        padding-right:10px;
    }
    .blue-title {
        font-size:15pt;
    }
    .blue-sub {
        font-size:15pt;
    }
    .blue-box {
        font-size:15pt;
        padding-left:30px;
        padding-right:30px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
}


@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }

}


@media (max-width: 1690px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:22pt !important;
    }

}

@media (max-width: 1506px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:20pt !important;
    }

}

@media (max-width: 1380px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:18pt !important;
    }

}

@media (max-width: 1256px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:16pt !important;
    }
    .countered {
        line-height: 0.5 !important;
    }

    .ten-years {
            font-size:25pt;
    }
}

@media (max-width: 1131px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
    }
    .countered{
        font-size:40pt !important;
    }

}

@media (max-width: 1020px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
         line-height:1 !important;
    }
    .countered{
        font-size:30pt !important;
    }
    #logo{
        height:60px;
        width:120px;
    }

}










