
@media (max-width: 575.98px) {
    .minions-cover{
        height:0px;
    }
    .clients{
        line-height:25px;
    }
    .map-cover{
        height:600px;
    }
    #slogan-audiovisual {
        font-size:15pt;
        border:2px solid white;
        padding-bottom:10px;
        padding-top:10px;
        padding-left:10px;
        padding-right:10px;
        margin-top:0px;
    }
    #cnt-ad {
        font-size:12pt !important;
    }

    .check-we-do {
        border:0px;
        font-size:20pt;
        margin-left:auto;
    }
    .video_intro {
        background-color:white !important;
    }
    #cnt-au{
        height:550px !important;
        background-position:50% 90px !important;
    }
    #QueHacemos {
        margin-top:0px;
    }
    .check-we-do-filter {
        padding:10px;
    }
    .title-cliente-p {
       padding-left:30px;
       padding-right:30px;
        border:0px;  
    }
    .trust {
        line-height:1;
    }
    .border-content {
        border:0px;
        padding:0px;
    }
    .content-for {
        font-size:15pt;
        letter-spacing:1px;

    }
    .content-mkt {
        font-size:15pt;
        letter-spacing:1px;
    }
    .stones-strategy {
        font-size:15pt;
    }
    .stones-green {
        font-size:15pt;
    }
    .green-rectangle {
        padding-left:10px;
        padding-right:10px;
        letter-spacing: 8px;
        padding-top:3px;
        padding-bottom:3px;
    }
    .comunication {
        font-size:20pt;
    }
    .candy-box {
        border:0px;
        font-size:20pt;
        letter-spacing: 3px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
        padding-top:10px;
    }
    .candy-border{
        border:0px;
        background-color:transparent;
        margin-top:40px;
        width:auto;
    }
    .candy-back{
        height:400px;
    }
    .foot-candy {
        margin-top:50px;
    }
    .social-candy img {
        margin-top:5px;
    }
    .creativity {
        font-size:14pt;
        border:0px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .minions-cover{
        height:0px;
    }
    .clients{
        line-height:25px;
    }
    #scroll-to-content {
        left: 42%;
    }
    .green-rectangle {
        font-size:15pt;
    }
    .map-cover{
        height:550px;
    }
    #slogan-audiovisual {
        font-size:18pt;
    }
    #cnt-ad {
        font-size:14pt !important;
    }
    .check-we-do {
        border:0px;
        font-size:20pt;
        margin-left:auto;
    }
    .video_intro {
        background-color:white !important;
    }
    #cnt-au{
        height:600px !important;
        background-position: center;
    }
    #QueHacemos {
        margin-top:0px;
    }
    .check-we-do-filter {
        padding:10px;
    }
    .title-cliente-p {
       padding-left:40px;
       padding-right:40px;
       border:0px;  
    }
    .border-content {
        border:0px;
    }
    .content-for {
        font-size:15pt;
        letter-spacing:1px;
        padding:0px;
    }
    .content-mkt {
        font-size:15pt;
        letter-spacing:1px;
    }
      .stones-strategy {
        font-size:15pt;
    }
    .stones-green {
        font-size:15pt;
    }
    .green-rectangle {
        padding-left:10px;
        padding-right:10px;
        letter-spacing: 8px;
        padding-top:3px;
        padding-bottom:3px;
    }
    .comunication {
        font-size:20pt;
    }
    .candy-box {
        border:0px;
        font-size:20pt;
        letter-spacing: 3px;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:10px;
        padding-top:10px;
    }
    .candy-border{
        border:0px;
        background-color:transparent;
        margin-top:60px;
    }
    .candy-back{
        height:436px;
    }
    .foot-candy {
        margin-top:60px;
    }
    .social-candy img {
        margin-top:5px;
    }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .minions-cover{
        height:0px;
    }
    #scroll-to-content {
        left: 46.7%;
    }
    .green-rectangle {
        font-size:15pt;
    }
    .map-cover{
        height:520px;
    }
    #plyr {
        top:160px !important;
    }
    #plyr-2 {
        top:160px !important;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
        background-position:center;
    }
    #scroll-to-content {
        left: 47.2%;
    }
    .check-we-do {
        font-size:20pt;
    }
    .map-cover {
        height:570px;
    }
    #plyr {
        top:180px !important;
    }
    #plyr-2 {
        top:180px !important;
    }
}


@media (min-width: 1200px) { 
    .minions-cover{
        height:666px;
        background-size: cover;
        background-image: url("../img/Fondos/Minions/minions-1920.jpg");
        background-position:center;
    }


}



@media (max-width:630px) {
    #slogan-musux{
        font-size:15pt !important;
        padding-bottom:20px;
    }
    #slogan{
        border:0px;
        text-align: center;
        padding-top:50px;
        display:inline-block;
    }
    .blue-box{
        border:0px;
    }
    .blue-section {
        height:250px;
    }
    #blue-container {
        padding-top:35px;
    }
    .content-block {
        padding-top:0px;
    }
    .what-we-do-box .que { 
        font-size:20pt;
    }

    .what-we-do-box .hacemos { 
        font-size:20pt;
    }
    .some-works{
        line-height: 1.3;
    }
    .foot-col{
        padding-left:0;
        padding-right:0;
    }
    .foot{
        text-align-last:center;
    }
    .footer-custom {
        padding-top:60px;
    }
    .social-networks {
        padding-top:70px;
    }
    .map-cover {
        height:560px;
    }
    h1 #slogan {
        margin-top:0px;
        font-size:24pt !important;
        font-weight:bolder;
        letter-spacing: 2px;
    }
    h1 {
        min-width:310px !important;
    }
    #idea {
        display:inline !important;
        font-size:18pt;
    }
    .trans {
        letter-spacing: 0px !important; 
        font-weight:lighter;
        margin-top:-20px;
        line-height:25px;
    }
    .video_intro.alternate h2{
        display:none;
    }
}


@media (max-width: 758px) {
    .inline-creativity{
        font-size:10pt !important;
    }
    .creativity {
        padding:0px;
    }
    #slogan-musux{
        border:0px;
    }
}

@media (max-width:870px) {
    #slogan{
        font-size:19pt !important;
        padding-bottom:10px;
    }
    #slogan-musux{
        font-size:19pt !important;
        padding-bottom:20px;
    }

}

@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }
    .blue-text {
        font-size:10pt;
        padding-left:10px;
        padding-right:10px;
    }
    .blue-title {
        font-size:15pt;
    }
    .blue-sub {
        font-size:15pt;
    }
    .blue-box {
        font-size:15pt;
        padding-left:30px;
        padding-right:30px;
        padding-top:5px;
        padding-bottom:5px;
    }
    
}


@media (max-width: 974px) {
    .create-content{
        text-align:center !important;
        display:inline;
        margin-left:auto;
        margin-right:auto;
    }
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:15pt !important;
    }
    .contenidos-row{
        text-align: center;
    }

}


@media (max-width: 1690px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:22pt !important;
    }

}

@media (max-width: 1506px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:20pt !important;
    }

}

@media (max-width: 1380px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:18pt !important;
    }

}

@media (max-width: 1256px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:16pt !important;
    }
    .countered {
        line-height: 0.5 !important;
    }

    .ten-years {
            font-size:25pt;
    }
}

@media (max-width: 1131px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
    }
    .countered{
        font-size:40pt !important;
    }

}

@media (max-width: 1020px) {
    .contenidos-creamos-1,.contenidos-creamos-2{
        font-size:14pt !important;
         line-height:1 !important;
    }
    .countered{
        font-size:30pt !important;
    }
    #logo{
        height:60px;
        width:120px;
    }

}










